@model LibraryBookManagementSystem.Models.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2 class="text-center">Sign in</h2>

<div class="container text-center custom-group-form">
	<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
		<div class="validation" asp-validation-summary="ModelOnly"></div>

		<div class="form-group">
			<label asp-for="Name">Name</label><br />
			<input class="form-control" type="text" asp-for="Name" placeholder="Name" />
			<span asp-validation-for="Name" />
		</div>
		<div class="form-group">
			<label asp-for="Password">Password</label><br />
			<input class="form-control" asp-for="Password" placeholder="Password" />
			<span asp-validation-for="Password" />
		</div>
		<div class="m-4">
			<input class="btn btn-outline-primary" type="submit" value="SignIn" />
		</div>

	</form>
	<p>No account? - <a asp-action="Register" asp-controller="Account">create it</a>!</p>
</div>

