@model ProductInventoryManagementSystem.Models.ViewModels.EditProductViewModel
@{
    ViewData["Title"] = "EditProduct";
}

<div class="container text-center custom-group-form">
	<form asp-action="EditProduct" asp-controller="Home" method="post">
		<div class="form-group">
			<label asp-for="Name">Name</label><br />
			<input class="form-control" type="text" asp-for="Name" placeholder="" />
			<span asp-validation-for="Name" />
		</div>

		<div class="form-group">
			<label asp-for="Description">Description</label><br />
			<input class="form-control" type="text" asp-for="Description" placeholder="" />
			<span asp-validation-for="Description" />
		</div>

		<div class="form-group">
			<label asp-for="Price">Price</label><br />
			<input class="form-control" type="number" min="0" asp-for="Price" placeholder="" />
			<span asp-validation-for="Price" />
		</div>

		<div class="form-group">
			<label asp-for="Count">Count</label><br />
			<input class="form-control" type="number" min="0" value="0" asp-for="Count" placeholder="" />
			<span asp-validation-for="Count" />
		</div>

		<div class="form-group text-start">
			<p>Product type</p>
			<select class="form-select form-control" asp-for="ProductType">
				<option value="Phone">Phone</option>
				<option value="Device">Device</option>
				<option value="Monitor">Monitor</option>
				<option value="Headset">Headset</option>
				<option value="Other">Other</option>
			</select>
			<span asp-validation-for="ProductType" />
		</div>

		<div class="m-4">
			<button class="btn btn-outline-primary">Save changes</button>
		</div>

	</form>
</div>

